@page
@model IndexPageModel
@{
    ViewData["Title"] = "Home page";
}

<h1>
    Running on <small>@Environment.MachineName</small>
</h1>
<p>To test features, here are some links to try:</p>
<ul>
    <li>
        <a asp-page="Generate">Generate some logs</a>
    </li>
    <li>
        <a asp-page="ThrowException">Throw an exception</a>
    </li>
</ul>
<p>
    Check more details on
    <a href="https://github.com/vrhovnik/azure-demo-monitoring-basics"
       target="_blank">Github page</a>.
</p>