@page
@model Monitoring.Basic.Pages.ThrowExceptionPageModel

@{
    ViewData["Title"] = "Throw exception";
}

<h1>Throw exception</h1>

<form enctype="multipart/form-data"
      method="post">
    <div class="form-group">
        <button class="btn btn-primary mr-2"
                type="submit">
            Ow, no, exception has happened! Press me to send data!
        </button>
        <a asp-page="/Info/Index">To to home</a>
    </div>
</form>