@page ""
@model Monitoring.General.Pages.Info.ActivityLogsPageModel

@{
    ViewData["Title"] = "Activity Logs";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-page="/Info/Dashboard">Dashboard</a>
        </li>
        <li aria-current="page"
            class="breadcrumb-item active">
            Getting last 20 activity perf logs
        </li>
    </ol>
}

<h2>Getting last 20 perf logs </h2>

@if (Model.Result.Any())
{
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Computer name</th>
            <th scope="col">Object name</th>
            <th scope="col">Counter name</th>
            <th scope="col">Counter Value</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var currentLogData in Model.Result)
        {
            <tr>
                <td>@currentLogData.Computer</td>
                <td>@currentLogData.ObjectName</td>
                <td>@currentLogData.CounterName</td>
                <td>@currentLogData.CounterValue</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No data has been retrieved, check logs for more details.</p>
}