@page
@model DashboardPageModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Perf logs</h5>
                <h6 class="card-subtitle mb-2 text-muted">getting back activity logs</h6>
                <p class="card-text">
                    Checking activity logs for perf via Azure Monitor
                </p>
                <a asp-page="/Info/ActivityLogs"
                   class="card-link">
                    Go <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Telemetry</h5>
                <h6 class="card-subtitle mb-2 text-muted">Sending telemetry from device</h6>
                <p class="card-text">
                    Send telemetry from device to App Insights
                </p>
                <a asp-page="/Instrumentation/Telemetry"
                   class="card-link">
                    Go <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Send custom logs</h5>
                <h6 class="card-subtitle mb-2 text-muted">Sending custom logs</h6>
                <p class="card-text">
                    Send custom logs to Azure Monitor
                </p>
                <a asp-page="/Custom/SendLog"
                   class="card-link">
                    Go <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Search Custom</h5>
                <h6 class="card-subtitle mb-2 text-muted">Searching logs via Azure Monitor</h6>
                <p class="card-text">
                    Searching Custom logs via Azure Monitor
                </p>
                <a asp-page="/Custom/Search"
                   class="card-link">
                    Go
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">News (external) call</h5>
                <h6 class="card-subtitle mb-2 text-muted">Calling Bing News Api as External</h6>
                <p class="card-text">
                    Doing dependency call to external service
                </p>
                <a asp-page="/Instrumentation/News"
                   class="card-link">
                    Go
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Favorites (sql) call</h5>
                <h6 class="card-subtitle mb-2 text-muted">Calling sql database</h6>
                <p class="card-text">
                    Calling LocalDb or Azure SQL database
                </p>
                <a asp-page="/Instrumentation/Favorites"
                   class="card-link">
                    Go
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Send custom metrics</h5>
                <h6 class="card-subtitle mb-2 text-muted">Send custom metrics to AI</h6>
                <p class="card-text">
                    Send one or multi dimensional metrics to AI
                </p>
                <a asp-page="/Instrumentation/SendMetrics"
                   class="card-link">
                    Go
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Send track dependency</h5>
                <h6 class="card-subtitle mb-2 text-muted">Send custom dependency call to AI</h6>
                <p class="card-text">
                    Send custom dependency call to service to AI - call to <a asp-page="/Instrumentation/News">Bing News</a> to see in action
                </p>
                <a asp-page="/Instrumentation/TrackDependency"
                   class="card-link">
                    Go
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>